:root{
  --text-color: #fff;
  --activity-bg: #627ee4;
  --spotify-bg: #1ed860;
  --twitch-bg: #6441a5;
  --bot-bg: #546cc4;
  --xbox-bg: #107C10;
}
.activityUserPopout-2yItg2, .activityProfile-2bJRaP{
  //styling
  h3, .content-3JfFJh, .activityName-1IaRLn, .details-38sfDr{
    color: var(--text-color) !important;
  }
  .colorGrey-2DXtkV{
    background-color: transparent !important;
    border: var(--text-color) 2px solid;
    transition: 0.5s;
  }
  .colorGrey-2DXtkV:hover{
    background-color: var(--text-color) !important;
    border-color: transparent;
    color: black !important;
  }
  //defualt
  background-color: var(--activity-bg);
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  z-index: 1;
  //twitch
  .nameWrap-3Z4G_9.textRow-19NEd_.base-1x0h_U.size14-e6ZScH[title], .detailsWrap-22pigg.textRow-19NEd_{
    &::after{
      content: "";
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: var(--twitch-bg);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
  }}
  //spotify
  .timeBarUserPopout-AWPFf2, .timeBarProfile-10b-fm{
    &::after{
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: var(--spotify-bg);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 6px;
    }
  }
  .spotifyIcon-2J9kSv{
    margin: 5px 5px 0px 0px;
    path{
      fill: (var(--text-color));
    }
  }
  // bots
  .contentNoImagesUserPopout-PCCPyZ{
    &::after{
      content: "";
      width: 100%;
      height: 100%;
      z-index: -2;
      background-color: var(--bot-bg);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 6px;
    }
  }
  //xbox
  .xboxAssets-aGhVw8 ~ div::after{
    content: "";
    width: 100%;
    height: 100%;
    z-index:-2;
    background-color: var(--xbox-bg);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
  }
}
.activityProfile-2bJRaP{
  margin: 10px;
  border-radius: 6px;
  .spotifyIcon-2J9kSv{
    margin: 0px 0px 0px 0px;
  }
}
.role-2irmRk{
  background: transparent;
  border: 1px solid;
  border-radius: 50px;
  transition: 0.1s;
}
.role-2irmRk:hover .roleCircle-3xAZ1j{
  background-color: black;
}